In [1]:
import pandas as pd
import numpy as np

In [15]:
df=pd.read_excel("Dataset_w6.xlsx")
df

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,623.2,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3984.2,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4154.1,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4714.1,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,14764.5,88.0,491.0
...,...,...,...,...,...,...,...
191,Venezuela (Bolivarian Republic of),SouthAmerica,912050.0,31977.0,11068.9,118.0,16324.0
192,Viet Nam,South-easternAsia,330967.0,95541.0,2067.9,136.0,174111.0
193,Yemen,WesternAsia,527968.0,28250.0,1106.4,136.0,6861.0
194,Zambia,EasternAfrica,752612.0,17094.0,1311.1,179.0,7442.0
195,Zimbabwe,EasternAfrica,390757.0,16530.0,890.4,99.0,5212.0

# 1. Find out how many countries are there in the dataset.

In [4]:
df['country'].count()   #Checking the number of countries.

196

In [16]:
df['country'].nunique() #confirming there is no duplicate in countries.

196

# 2. Find out how many countries with respect to the region are available in the dataset

In [6]:
df['Region'].nunique()  #Checking how many regions are there.

22

In [17]:
df.groupby('Region')['country'].nunique().sort_values()#Countries in each region

Region
Oceania               2
NorthernAmerica       4
Micronesia            4
SouthernAfrica        5
CentralAsia           5
Polynesia             5
NorthernAfrica        5
Melanesia             5
WesternEurope         7
EasternAsia           7
CentralAmerica        8
SouthernAsia          9
MiddleAfrica          9
EasternEurope        10
NorthernEurope       10
South-easternAsia    11
SouthAmerica         12
SouthernEurope       12
WesternAfrica        15
Caribbean            16
EasternAfrica        17
WesternAsia          18
Name: country, dtype: int64

# On average which region has the highest GDP per capita (current US)

In [8]:
df.groupby(['Region'])["GDP per capita (current US$)"].agg('mean').sort_values(ascending=False).head(1)

Region
NorthernAmerica    57659.0
Name: GDP per capita (current US$), dtype: float64

In [9]:
#NorthernAmerica has the highest average GDP per capita

# On average which region has the highest International trade: Imports (million US$)

In [10]:
y=df.groupby(['Region'])['International trade: Imports (million US$)'].agg('mean')
y.sort_values(ascending=False).head(1)

Region
NorthernAmerica    663552.25
Name: International trade: Imports (million US$), dtype: float64

In [11]:
#NorthernAmerica has the highest average on International trade.

# Find out which region has more consistent with respect to GDP per capita (current US$)

In [12]:
df.groupby('Region')['GDP per capita (current US$)'].std().sort_values()

Region
WesternAfrica          815.095399
NorthernAfrica         974.706575
SouthernAfrica        2177.551120
SouthernAsia          2855.708179
EasternAfrica         3716.131770
CentralAsia           4152.215490
CentralAmerica        4180.440883
SouthAmerica          4273.707394
Micronesia            4820.669694
MiddleAfrica          5274.846281
EasternEurope         5415.488739
Polynesia             6956.250286
Oceania               9233.329638
SouthernEurope        9541.703216
Melanesia            13855.842686
Caribbean            14579.371326
South-easternAsia    16311.810656
WesternAsia          18812.151459
NorthernEurope       20671.030185
WesternEurope        24770.467728
NorthernAmerica      25749.619445
EasternAsia          27485.120923
Name: GDP per capita (current US$), dtype: float64

In [13]:
#Western Africa is consistent with respect to GDP per capita.